.item1 { 
    grid-area: average; 
}
.item2 { 
    grid-area: position; 
}
.item3 { 
    grid-area: effective; 
}
.item4 { 
    grid-area: realized; 
}
.item5 { 
    grid-area: historical; 
}

.grid-container {
    display: grid;
    grid-template-areas: 'average average position position'
    'average average effective effective'
    'historical historical realized realized';
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    background-color: #666;
    padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
  }